
p#error {
	color: red;
	text-align: center;
}

p#error1 {
	color: red;
	text-align: center;
}


table {
	border-spacing: 100px 10px;
	position: static;
}


td.forX {
	background-color:rgb(95,151,252);
	border-radius: 20px;  
	text-align: justify;
	align-items: center;
}

td.forY{
	background-color: rgb(95,151,252);
	border-radius: 20px;  
}
td.forR{
	background-color:rgb(95,151,252);
	border-radius: 20px;  
}
td.image{
	background-image: url(gradient.png);
	background-position: left;
	background-repeat: no-repeat;
	background-size: 240px 100%;
	
	border: 5px 5px 5px 50px;
	border-left: 0px solid white;
	border-left-style: solid;
	border-top-style: double;
	border-bottom-style: double;
	border-right-style: solid;
	position: relative;

}
td.button{
	border-radius: 20px;
	background-color: rgb(95,151,252);	
}





input#Xvalue {
	text-align: center;
	position: relative;
	al
/*	right: 55px;
	bottom: 37px;*/


}

select#Yvalue {
	text-align: right;
/*	position: relative;
	bottom: 37px;
	left: 120px;*/

}




p {
	text-align: left;
	
}

p.textX{
	position: relative;
}

p.R {
	text-align: center;
}



h1 {
	background: rgb(95,151,252);
	border-radius: 20px;
	text-align: center;
}

[face = "serif"] {
	color: black;

}


iframe {
	border:groove 3px rgb(95,151,252);
}





















